$title-bg: #F4F4E9;
$content-bg: #32343B;
$all-title-color: #274555;

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body, #root, .content {
  height: 100%;
  background: #ffffe0;
}

h2 {
  color: $all-title-color;
  font: 700 1.8em sans-serif;
}

.form--align {
  margin-top: 2.5rem;
  text-align: center;
}

.form--font {
  font-size: 1.4rem;
}

.search__bar {
  text-align: center;
  width: 26rem;
  padding: 0.5rem;
  margin: 1.5rem 0.6rem;
  font-size: 1.6rem;
}

.search__btn {
  padding: 0.6rem;
  border-radius: 1rem;
}

.container--margin--top {
  margin-top: 2rem;
}

.container--font {
  font-size: 1.7rem;
}

.header__table--margin--btm {
  margin-bottom: 1rem;
}

.text {
  color: $all-title-color;
  font: 700 1em sans-serif;
}

.article__title {
  text-align: right;
  width: 15.4rem;
  padding-right: 0.8rem;
}

.snippet {
  padding-left: 1.5rem;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;

  .title {
    background: $title-bg;
    color: $content-bg;
    text-align: right;
    width: 15.4rem;
    padding-right: 1rem;
    font: 500 2.1rem "Garamond", serif;
    border: 1px solid rgba(39, 41, 50, 0.1);
  }

  .content__div {
    //border: 1px solid rgba(250, 250, 250, 0.1);
  }

  .content {
    display: block;
    background: $content-bg;
    color: $title-bg;
    text-decoration: none;
    padding: 1rem 1.5rem;

    :hover {
      text-decoration: none;
      color: $title-bg;
      opacity: 0.9;
    }
  }
}

@media (max-width: 550px) {
  table .title {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    width: auto;
  }

  .container {
    padding: 0;
  }

  .container--margin--top {
    margin-top: 1.5rem;
  }

  .article__title {
    width: 9.8rem;
    padding-right: 0.4rem;
    text-align: inherit;
  }

  .search__bar {
    width: 20rem;
  }
}

@media (max-width: 376px) {
  .title {
    position: absolute;
    margin-top: -2.8rem;
    margin-left: 2px;
  }

  .container--margin--top {
    margin-top: 1rem;
  }

  .header__table--margin--btm {
    margin-bottom: 2.9rem;
  }

  tbody tr:not(:last-child) .content__div {
    padding-bottom: 4rem;
  }
}
