$title-bg: #F4F4E9;
$content-bg: #32343B;
$all-title-color: #274555;

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body, #root, .content {
  height: 100%;
  background: #ffffe0;
}

// Search Wikipedia
h2 {
  color: $all-title-color;
  font: 700 1.8em sans-serif;
}

// form and search bar
.form {
  &--align {
    margin-top: 2.5rem;
    text-align: center;
  }

  &--font {
    font-size: 1.4rem;
  }
}

.search {
  &__bar {
    text-align: center;
    width: 26rem;
    padding: 0.5rem;
    margin: 1.5rem 0.6rem;
    font-size: 1.6rem;
  }

  &__btn {
    padding: 0.6rem;
    border-radius: 1rem;
    background: $title-bg;
    font: 700 1.4rem sans-serif;
    cursor: pointer;

    &:hover {
      background: rgba(#dbdbcd, 1);
    }
  }
}

// Main part of website
.grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 0.1rem;
  //margin-bottom: 4rem;
}

.container {
  padding: 0;

  &--margin {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &--font {
    font-size: 1.7rem;
  }
}

// headers for section
.header-text {
  color: $all-title-color;
  font: 700 1.6rem sans-serif;
}

.article__title {
  justify-self: end;
  padding-right: 1.5rem;
}

.snippet {
  padding-left: 1.5rem;
}

// title and content of article
.title {
  display: grid;
  align-content: center;
  background: $title-bg;
  color: $content-bg;
  text-align: right;
  padding-right: 1.5rem;
  font: 700 2.1rem "Garamond", serif;
  border: 1px solid rgba(39, 41, 50, 0.1);
}

.content {
  display: block;
  background: $content-bg;
  color: $title-bg;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(250, 250, 250, 0.1);

  &__div {

  }

  &:hover {
    text-decoration: none;
    color: $title-bg;
    opacity: 0.9;
  }
}

// media queries to polish website n set breakpoints
@media (max-width: 769px){
  .container {
    max-width: 100%;
  }

  .title {
    font-size: 1.8rem;
  }

  .content {
    font-size: 1.6rem;
  }

  .search__btn {
    font-size: 1.3rem;
  }

  .container--margin {
    margin-bottom: 0rem;
  }
}

@media (max-width: 550px) {
  .header-text {
    font-size: 1.5rem;
  }

  .title {
    padding-right: 0.5rem;
    font-size: 1.7rem;
  }

  .content {
    font-size: 1.5rem;
  }

  .container--margin {
    margin-top: 1.5rem;
  }

  .article__title {
    padding-right: 0.4rem;
  }

  .search__bar {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .header-text {
    font-size: 1.3rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .content {
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 24% 1fr;
  }

  .container--margin {
    margin-top: 1rem;
  }
}

@media (max-width: 350px) {
  .grid {
    grid-template-columns: 25% 1fr;
  }

  .search__bar {
    width: 18rem;
  }
}
