$title-bg: #F4F4E9;
$content-bg: #32343B;
$all-title-color: #274555;

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body, #root, .content {
  height: 100%;
  background: #ffffe0;
}

h2 {
  color: $all-title-color;
  font: 700 1.8em sans-serif;
}

.form--align {
  margin-top: 2.5rem;
  text-align: center;
}

.form--font {
  font-size: 1.4rem;
}

.search__bar {
  text-align: center;
  padding: 0.5rem;
  width: 26rem;
}

.search__btn {
  padding: 0.6rem;
  border-radius: 1rem;
}

.container--spacing {
  margin-top: 2.5rem;
}

.container--font {
  font-size: 1.7rem;
}

.article__title {
  // display: inline-block;
  text-align: right;
}

.text {
  display: inline-block;
  color: $all-title-color;
  font: 700 1em sans-serif;
}

ul {
  li {
    display: flex;
    list-style-type: none;
    margin: 1px 0 1px 0;
  }

  .title {
    background: $title-bg;
    color: $content-bg;
    margin: 0 1px 0 0;
    text-align: right;
    align-self: center;
    flex: 1 0 auto;
  }

  .content__div {
    padding: 0;
  }

  .content {
    display: inline-block;
    background: $content-bg;
    color: $title-bg;
    text-decoration: none;
    padding: 10px 15px 10px 15px;

    :hover {
      text-decoration: none;
      color: $title-bg;
      opacity: 0.9;
    }
  }
}
